body{
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: blue;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 5px;
    align-items: center;
}

header .logo {
    color: white;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
    height: 75px;
    width: 100px;
    float: left;
}

header .scritta_logo {
    color: white;
    font-size: 20px;
    cursor: pointer;
    height: 75px;
    width: 200px;
}

main {
    display: block;
    padding: 10px;
}

main .square-boxes {
    display: flex;
    padding: 10px;
    border-radius: 20px;
}

main .square-boxes .box {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 5px;
    margin: 10px;
    text-align: left;
    cursor: pointer;
    border-radius: 20px;
    font-size: large;
    color: black;
    margin-left: 30px;
}

.box-text{
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
}

main .video-section {
    display: flex;
    padding: 10px;
}

main .video-section iframe {
    margin: auto;
    display: flex;
    height: 400px;
    width: 711px;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #212529;
    color: white;
    border-radius: 20px;
    margin: 10px;
}

.bgimg{
    padding-top: 1px;
    padding-bottom: 1px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image:url("media/1080pimage_blur.png");
    background-position: top;
    background-repeat: repeat;
    height: 100%;
}

.arrow-icon-left:hover, .arrow-icon-right:hover{
    transform: scale(130%);
    transition-duration: 500ms;
}

.arrow-icon-left, .arrow-icon-right{
    margin: auto;
    width: 20%;
    cursor: pointer;
}

form {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbb;
    background-color: white;
}

.form-share{
    width: 96%;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbb;
    background-color: white;
    padding: 20px;
    text-align: center;
    align-self: center;
    margin: 30px;
}

main .prezzo{
    float: right;
}

main .background1{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #bbb;
    background-color: white;
}

.foryou{
    display: block;
}

.list-main{
    padding: 0 50px 0 50px;
}

.custom-dropdown{
    margin: 10px 0 10px 0;
    width: 200px;
}

.img-tall{
    height: auto;
}
.flexbox2{
    text-align: center;
}

.flexbtn{
    width: 400px;
    height: 50px;
}

.discovery-flex{
    text-align: center;
}